.itemTexto {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Calabacín', cursiva;
}

.itemDesplegable {
    font-size: 1.3rem;
}

.texto_libres {
    text-align: center;
    font-size: 4rem;
    font-family: 'Calabacín', cursiva;
    text-transform: capitalize;
}

.texto_quienes_somos {
    text-align: center;
    font-size: 2rem;
    font-family: 'Calabacín', cursiva;
    padding: 2rem 18rem 3rem 18rem;
}

.encabezado_p_nigth,
.encabezado_p {
    font-family: 'Calabacín', cursiva;
    font-size: 4rem;
    text-align: center;
}
.contacto__titulo{
    font-family: 'Calabacín', cursiva;
    font-size: 4rem;
    text-align: center;
}
.divCate1__pCate {
    font-size: 1.6rem;
    font-family: 'Calabacín', cursiva;
}

.descripcion {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Calabacín', cursiva;
    text-transform: capitalize;
    list-style-type: none;
    margin-bottom: 1rem;
}

.lista__li {
    list-style-type: none;
    font-family: 'Calabacín', cursiva;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.footer__copy {
    font-family: 'Calabacín', cursiva;
    font-size: 1.2rem;
}

.comprar {
    font-size: 1rem;
}

.offcanvas-title {
    font-family: 'Calabacín', cursiva;
    font-size: 2rem;
}

tbody,
td,
tfoot,
th,
thead,
tr,
h5 {
    font-family: 'Calabacín', cursiva;
}